<div class="sidebar" id="sidebar" style="background-color:aliceblue">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Admin</span>
							</li>
							
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/Dashboard/Index">Admin Dashboard</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Settings</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/Departments/Index">Department</a></li>
									<li><a href="/Designations/Index">Designation</a></li>
									<li><a href="/Banks/Tags">Tag</a></li>
									<li><a href="/Banks/Banks">Bank</a></li>
									<li><a href="/Banks/Branches">Branch</a></li>
									<li><a href="/Locations/Index">Location</a></li>
									<li><a href="/Grades/Index">Grade</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Employee</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/Employees/Officer">Officer</a></li>
									<li><a href="/Employees/JuniorStaff">Junior Staff</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Salary Settings</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
								<li><a href="/SalarySettings/SalaryPolicySettings">Salary Policy Settings</a></li>
								<li><a href="/SalarySettings/BasicSalarySettingsOfficer">Basic Salary Settings  Officer</a></li>
								<li><a href="/SalarySettings/BasicSalarySettingsJuniorStaff">Basic Salary Settings Junior Staff</a></li>
								<li><a href="/SalarySettings/UpdateBasicSalary">Update Basic Salary</a></li>
								<li><a href="/SalarySettings/UpdateTax">Update TAX</a></li>
								<li><a href="/SalarySettings/AdvanceTax">Advance TAX</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Salary</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/SalarySettings/MonthlySalarySettingOfficer">Monthly Salary Setting Officer</a></li>
									<li><a href="/SalarySettings/MonthlySalarySettingStaff">Monthly Salary Setting Junior Staff</a></li>
									<li><a href="/SalarySettings/MonthlyLoan">Monthly Loan</a></li>
									<li><a href="/SalarySettings/SalaryProcess">Salary Process</a></li>
									<li><a href="/SalarySettings/FinalAdjustmentOfficer">Final Adjustment Officer</a></li>
									<li><a href="/SalarySettings/FinalAdjustmentJuniorStaff">Final Adjustment Junior Staff</a></li>
									<li><a href="/SalarySettings/JournalPosting">Journal Posting</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Loans</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/Loans/HbLoan">House Building Loan</a></li>
									<li><a href="/Loans/FlatLoan">Flat Loan</a></li>
									<li><a href="/Loans/MclLoan">Motorcycle Loan</a></li>
									<li><a href="/Loans/ComLoan">Computer Loan</a></li>
									<li><a href="/Loans/CarLoan">Car Loan</a></li>
									<li><a href="/Loans/LoanProcess">Loan Process</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Bonus</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/Bonus/CrateBonus">Create Bonus</a></li>
									<li><a href="/Bonus/ProcessBonus">Process Bonus</a></li>
									<li><a href="/Bonus/FinalAdjustment">Final Adjustment</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Amenities</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/Amenities/CreateAmenities">Create Amenities</a></li>
									<li><a href="/Amenities/ProcessAmenities">Process Amenities</a></li>
									<li><a href="/Amenities/FinalAdjustment">Final Adjustment</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
								<li class="submenu">
									<a href="#"><i class="la la-dashboard"></i> <span> Salary</span> <span class="menu-arrow"></span></a>
									<ul style="display: none;">
										<li><a href="/SalaryReport/GetSalaryControlSheetOfficer">Salary Control Sheet</a></li>
										<li><a href="/Reports/SalaryBankForwarding">Bank Forwarding</a></li>
										<li><a href="/Reports/BankWiseSalaryBankForwarding">Bank Wise Forwarding</a></li>
										<li><a href="/Reports/BankWisePaymentSummary">Bank Wise Payment Summary</a></li>
										<li><a href="/Reports/PFDeduction">PF Deduction</a></li>
										<li><a href="/SalaryReport/GetSalaryPaySlip">Salary PaySlip</a></li>
								       <li><a href="/SalaryReport/GetYearlyPaySlip">Yearly PaySlip</a></li>
								       <li><a href="/Reports/SalaryJournal">Journal</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="#"><i class="la la-dashboard"></i> <span> Bonus</span> <span class="menu-arrow"></span></a>
									<ul style="display: none;">
										<li><a href="/BonusReport/GetBonusControlSheet">Bonus Control Sheet</a></li>
										<li><a href="/BonusReport/BonusBankForward">Bank Forwarding</a></li>
								       <li><a href="/BonusReport/GetBonusPaySlip">Bonus PaySlip</a></li>
								       <li><a href="/BonusReport/GetBonusJournal">Journal</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="#"><i class="la la-dashboard"></i> <span> Tax</span> <span class="menu-arrow"></span></a>
									<ul style="display: none;">
								       <li><a href="/TaxReport/GetIncomeTaxMonthly">Monthly IncomeTax</a></li>
								        <li><a href="/TaxReport/GetIncomeTaxYearly">IncomeTax Yearly</a></li>
										<li><a href="/TaxReport/GetTaxCertificate">Tax Certificate</a></li>
									</ul>
								</li>

								<li class="submenu">
									<a href="#"><i class="la la-dashboard"></i> <span> Amenities</span> <span class="menu-arrow"></span></a>
									<ul style="display: none;">
										<li><a href="/AmenitiesReport/GetAmenitiesControlSheet">Ameneties Control Sheet</a></li>
										<li><a href="/AmenitiesReport/GetAmenitiesBankForward">Bank Forwarding</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="#"><i class="la la-dashboard"></i> <span> Loan Report</span> <span class="menu-arrow"></span></a>
									<ul style="display: none;">
								<li><a href="/Reports/GetComputerLoan">Computer</a></li>
								<li><a href="/Reports/GetMotorLoan">Motor Cycle</a></li>
									</ul>
								</li>

								<li class="submenu">
									<a href="#"><i class="la la-dashboard"></i> <span>Year Ending Loan Report</span> <span class="menu-arrow"></span></a>
									<ul style="display: none;">
								<li><a href="/LoanReport/GetMCLLoan">MCL</a></li>
								<li><a href="/LoanReport/GetComLoan">COM</a></li>
								<li><a href="/LoanReport/GetHBILoan">HBI</a></li>
									</ul>
								</li>

								<li><a href="/MedicalFund/GetMedicalFund">Medical Fund</a></li>
								<li><a href="/Reports/LoanSheet">Loan Sheet</a></li>
								<li><a href="/Reports/PFSheet">PF Sheet</a></li>
								<li><a href="/Reports/PensionSheet">Pension Sheet</a></li>
								<li><a href="/Reports/GetAmortizationSchedule">Amortization Schedule</a></li>
								@* 								
								
								<li><a href="/PFSheetReport/GetPFSheet">PF Sheet</a></li> *@
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>